services:
  db:
    image: postgres:16
    container_name: pg-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: rocket_delivery_db
      TZ: Asia/Seoul
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app_user -d rocket_delivery_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pg-admin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: adminpass
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"

      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: rocket_delivery_db

      # 서버 자동 등록 강제 적용(매 시작 시)
      PGADMIN_SERVER_JSON_FILE: /pgadmin4/servers.json
      PGADMIN_REPLACE_SERVERS_ON_STARTUP: "True"
    ports:
      - "127.0.0.1:5050:80"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin-init.sh:/pgadmin-init.sh:ro
    user: root
    entrypoint: [ "/bin/sh", "/pgadmin-init.sh" ]

  redis:
    image: redis:6.2.11
    container_name: redis-container
    ports:
      - "6378:6379"
    networks:
      - default
    volumes:
      - redis-data:/var/lib/redis
      - ./redis-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  zipkin:
    image: openzipkin/zipkin:2.23.16
    container_name: zipkin-container
    volumes:
      - zipkin-data:/var/lib/zipkin
    ports:
      - "9411:9411"
    networks:
      - default

  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper-container
    volumes:
      - zookeeper-data:/var/lib/zookeeper
    ports:
      - '2181:2181'
    environment:
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka-container
    ports:
      - '9092:9092'
    depends_on:
      - zookeeper
    env_file:
      - .env
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://${KAFKA_EXTERNAL_HOST}:9092
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 1
    volumes:
      - kafka-data:/var/lib/kafka/data
      - ./kafka-init:/docker-entrypoint-init.d:ro

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui-container
    volumes:
      - kafka-ui-data:/var/lib/kafka-ui
    depends_on:
      - kafka
    ports:
      - "9999:9999"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
      KAFKA_CLUSTERS_0_READONLY: "false"
      SERVER_PORT: 9999

volumes:
  redis-data:
  kafka-data:
  pg_data:
  pgadmin_data:
  zipkin-data:
  zookeeper-data:
  kafka-ui-data:

networks:
  default:
    driver: bridge
