name: 'CI'

on:
  push:
    branches: [ dev, common/*, company/*, order/*, hub/*, product/*, user/*, slack/*, delivery/*, gateway/*, server/*, jpa/*, auth/*, tdd/*, redis/* ]
  pull_request:
    branches:
      - dev

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:6.2.11
        ports:
          - 6378:6379

    steps:
      - name: Checkout 코드
        uses: actions/checkout@v4


      - name: Java Setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run Unit Test
        run: |
          chmod +x gradlew
          ./gradlew clean test
